<div class="back">
  <div class="back-button" (click)="goBack()">🔙 Back</div>
  <a class="logo" routerLink="/front">Queue System</a>
  <a class="logo" routerLink="/admin">Admin</a>
</div>
<div class="dashboard-container">
  <h2>Queue Dashboard</h2>
  <div class="cards">
    <a class="card" routerLink="dailyhistory">
  <h3>📜 Daily History Logs</h3>
</a>
<a class="card" routerLink="statsoverview">
  <h3>📊 Stats Overview</h3>
</a>
  </div>
   <section class="content-area">
    <router-outlet></router-outlet>
  </section>
</div>
