<div class="entry-page">
  <h3>Please tap your lane to get a number</h3>

  <div class="button-group" *ngIf="!processing && !success">
    <button class="entry-button senior" (click)="enqueue('priority')">👩🏼‍🦽‍➡️ Priority</button>
    <button class="entry-button normal" (click)="enqueue('normal')">🙎🏼‍♂️ Regular</button>
    <button class="entry-button walkin" (click)="enqueue('walkin')">🚶🏾 Walk In</button>
    <button class="entry-button print" (click)="enqueue('print')">🗳 Print</button>
  </div>

  <div class="processing-message" *ngIf="processing">
  </div>

  <div class="confirmation" *ngIf="success">
    <p>Thank you {{ addedEntry?.number }}.</p>
    <p>Kindly proceed into your specific lane.</p>
  </div>
</div>
